.footer-contents
    .block-organizations
        @include media-breakpoint-up(desktop)
            .organizations.grid
                grid-template-columns: repeat(4, 1fr)
        .organization
            .media--logo
                background: none
                padding: 0